.container
  %h1= t(:welcome_message)
  %p= t(:choose_something)
  %a.btn.btn-primary.btn-lg.btn-block.fancy-button{ href: "/orders/new/#{@table.uid}" }
    = icon('glass')
    = t(:order_something)
  %a.btn.btn-success.btn-lg.btn-block.fancy-button{ href: "/checks/new/#{@table.uid}" }
    = icon('hand-o-up')
    = t(:check_please)