.row.menu
  %br
  = bootstrap_form_for @order do |f|
    - if @order.errors.any?
      = f.alert_message "Por favor arregle los siguientes errores."
      = f.error_summary

    = hidden_field_tag 'order[table_id]', @table.id
    - get_products_hash.keys.each do |category|
      .col-md-4.col-sm-6
        %ul.list-group
          %li.list-group-item.list-group-header
            %h4.list-group-item-heading= category
          - get_products_hash[category].each do |product|
            %li.list-group-item{ data: { "product-id" => "#{product.id}" } }
              = product.name
              .btn.btn-primary.fancy-button.add-product.pull-right
                = icon("plus")
              %p.list-group-item-text
                %span.label.label-info $#{product.price.to_i}
                - line_item = @cart.line_items.where(product_id: product.id).first
                - if line_item
                  %span.label.label-success.quantity
                    #{line_item.quantity} #{t(:added)}
              
    .form-group{style: "text-align: center;"}
      %button.hidden-xs.btn.btn-success.btn-block.btn-lg.fancy-button{type: "submit",data: {"loading-text" => "Pidiendo ..."} }
        = icon('bullhorn')
        = t(:order)
      %a.hidden-xs.btn.btn-warning.btn-block.btn-lg.fancy-button.empty-cart
        = icon('ban') 
        = t(:empty_cart)
      .btn-group.btn-group-justified.visible-xs.btn-bottom
        .btn-group
          %a.btn.btn-lg.btn-warning.fancy-button.empty-cart{ style: "border-radius: 0 !important;" }
            = icon('ban', '', class: "fa-spin") 
            = t(:empty_cart)
        .btn-group
          %button.btn.btn-lg.btn-success.fancy-button{type: "submit",data: { "loading-text" => "Pidiendo ..." }, style: "border-radius: 0 !important;" }
            = icon('bullhorn')
            = t(:order)