= bootstrap_form_for @order do |f|
  - if @order.errors.any?
    = f.alert_message "Por favor arregle los siguientes errores."
    = f.error_summary

  = hidden_field_tag 'order[table_id]', @table.id
  .field
    .form-group
      = label_tag 'product_id[]', t(:product) , class: 'control-label'
      = select_tag 'product_id[]', grouped_options_for_select(generate_options), prompt: t(:select_product), class: 'form-control input-lg', required: true
  .field
    .form-group
      = label_tag 'quantity[]', t(:quantity) , class: 'control-label'
      = number_field_tag 'quantity[]', nil, min: 1 , required: true, class: "form-control input-lg"
  .form-group
    = f.submit t(:order), class: 'btn btn-success btn-lg btn-block fancy-button', data: {"loading-text" => "Pidiendo ..."} , id: "order"
    %a.btn.btn-danger.btn-block.btn-lg.fancy-button{ href: "/code/#{@table.uid}" }= t(:cancel)
  %br
