%h1 Listing orders

%table
  %tr
    %th Token
    %th Table
    %th Product
    %th Quantity
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.token
      %td= order.table.number
      %td= order.product.name 
      %td= order.quantity
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
