.container
  %h1
    = icon('glass') 
    Listing orders
  .table-responsive
    %table#order_table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th{ data: {class:"expand"} }= t(:table)
          %th{ data: {hide: "phone"} } Token
          %th= t(:details)
          %th{ data: {hide: "phone, tablet"} }= t(:delivered)
          %th{ data: {hide: "phone, tablet"} }= t(:created_at)
          %th{ data: {hide: "phone, tablet"} }= t(:updated_at) 
          %th{ data: {hide: "phone"} }= t(:actions)
      %tbody
        - @orders.each do |order|
          %tr{class: "#{'success' if order.delivered}"}
            %td= order.table.number
            %td= order.token
            %td
              - order.line_items.each do |li|
                .item
                  .badge.badge-info #{li.quantity}
                  = li.product.name.to_s+". " 
            %td= order.delivered ? icon('thumbs-up') : icon('thumbs-down')
            %td= order.created_at.strftime("%Y/%m/%d %I:%M")
            %td= order.updated_at.strftime("%Y/%m/%d %I:%M")
            %td{style: "text-align: center;"}
              .btn-group.btn-group-sm
                %a.btn.btn-success= icon('thumbs-up')
                %a.btn.btn-danger= icon('thumbs-down')
              .btn-group.btn-group-sm{style: 'width:98px;'}
                = link_to icon('eye'), order, class: 'btn btn-info'
                = link_to icon('pencil'), edit_order_path(order), class: 'btn btn-warning'
                = link_to icon('trash-o'), order, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

  %br