.jumbotron{style: "text-align:center;"}
	%h1.text-info#responsive_code
		%span.label.label-success
			= @order.token
	%br
	%p{style: "font-weight: 400;"}
		=t(:code_explanation)
	%p
		%strong=t(:enjoy_it)

	.panel.panel-info
		.panel-heading
			%h3.panel-title= t(:order_summary)
		.panel-body
			- @order.shopping_cart_items.each do |product|
				.badge.badge-info #{product.quantity}
				#{product.item.name} - $#{product.item.price}
				%br
		.panel-footer
			%h3
				Total:
				$#{@order.total}

	%a.btn.btn-block.btn-primary.btn-lg.fancy-button{ href: "/code/#{Table.find(@order.table_id).uid}" }
		= icon('plus')
		= t(:order_something_more)