.container
  %h1
    = icon('cutlery') 
    Listing tables

  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Number
          %th Place
          %th Uid
          %th= t(:actions)
      %tbody
      - @tables.each do |table|
        %tr
          %td= table.number
          %td= table.place
          %td= table.uid
          %td
            .btn-group.btn-group-sm{style: 'width:98px;'}
              = link_to icon('eye'), table, class: 'btn btn-info'
              = link_to icon('edit'), edit_table_path(table), class: 'btn btn-warning'
              = link_to icon('trash-o'), table, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

  %br

  = link_to 'New Table', new_table_path
