.jumbotron{style: "text-align:center;"}
	%h1.text-info#responsive_icon
		- if @check.card_payment
			%span.label.label-warning
				= icon("credit-card") 
				= t(:card_phrase)
		- else
			%span.label.label-success
				= icon("money")
				= t(:cash_phrase)
	%br
	%p{style: "font-weight: 400;"} 
		= t(:check_explanation)
		
	%p 
		%strong= t(:thank_you)
	%a.btn.btn-block.btn-primary.btn-lg.fancy-button{ href: "/code/#{Table.find(@check.table_id).uid}" }
		= icon('home') 
		= t(:back_to_the_home_menu)