!!!
%html
	%head
		-# = yield :title
		%title scaneat - Escanea, pide y disfruta
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

		= yield :head

		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		= favicon_link_tag 'favicon.ico'

		%meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}

		%meta{name:"mobile-web-app-capable", content:"yes"}

		%link{rel: "shortcut icon", sizes: "196x196", href: "#{image_url('icon-196x196.png')}"}

	%body{"data-spy" => "scroll", "data-target" => ".navbar"}
	
		= render :partial => 'layouts/navbar_admin'

		= render :partial => 'layouts/messages'
		= yield
		-#= render :partial => 'layouts/footer'